.imageItem>img{
    height: 400px;
    padding-bottom: 30px;
}
.row>p{
    line-height: 30px;
}
.imageItem{
    overflow: hidden;
    position: relative;
    transition: all 1s;
    z-index: 1;
}
.btnImg{
    color: black;
}
.imageItem:hover{ box-shadow: 2px 2px 4px #999; }
.imageItem:hover{ box-shadow: 3px 3px 5px #999; }
.imageItem:before,
.imageItem:after{
    content: "";
    background-color: rgba(56, 40, 52, 0.8);
    width: 150%;
    height: 150%;
    opacity: 0;
    transform: rotate(45deg);
    position: absolute;
    top:-10.5%;
    right:-150%;
    z-index: 1;
    transition: all 0.35s ease;
}
.imageItem:after{
    background: rgba(255,255,255,0.5);
    width: 64%;
    height: 55%;
    right: auto;
    left: -20%;
    top: -65%;
}
.imageItem:hover:before{
    opacity: 1;
    right: -85%;
}
.imageItem:hover:after{
    opacity: 1;
    top: -42%;
}
.imageItem img{
    width: 100%;
    height: auto;
    transition: all 0.5s ease;
}
.imageItem:hover img{ transform: scale(1); }
.imageItem .imgContent{
    text-align: right;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    right: -100%;
    z-index: 2;
    transition: all .5s;
}
.imageItem:hover .imgContent{ right: 5%; }
.imgContent .title{
    margin-top: 60%;
    color: blanchedalmond;
}
.imgContent .btnImg{
    display: inline-block;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: whitesmoke;
    font-weight: 400;
    border: 1px solid #ffffff;
    padding: 15px 30px;
    text-decoration: none;
    line-height: 1;
    background-color: rgba(47, 23, 30, 0.1);
}
.imgContent .btnImg:hover{
    color: #1e272e;
    background-color: #fff;
    border-radius: 10%;
    box-shadow: 0 0 5px #1e272e inset;
}