
ul {
	list-style-type: none;
}
.containerFluid {
	background-color: black;
	opacity: 100;
}
.navigation .nav > li {
	float: left;
	width: calc(100% / 7)
}

.navigation .nav > li:not(:last-child)> a::after{
	content: "|";
	color: white;
	text-align: right;
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

.navigation .nav li a {
	display: block;
	text-align: center;
	text-decoration: none;
	color: white;
	background-color: black;
	font-size: 90%;
	font-weight: normal;
	padding: 1em 0;
}

.navigation .nav li:hover > a {
	color: #f26b38;
	transition: all 0.5s;
}

.navigation .nav li:hover > .sub-menu {
    opacity: 1;
}

.navigation .nav li:hover > #sub-menu-last {
	display: block;
}

.sub-menu li:hover > a {
	color: #f26b38;
	transition: all 0.5s;
}

.sub-menu ul li:hover > a {
	color: white;
}

.navigation .nav li {
	position: relative;
}


.navigation .nav .sub-menu {
    opacity: 0;
	position: absolute;
	width: 100%;
	top: 0;
	left: 100%;
}

.navigation .nav > li > .sub-menu {
	top: 100%;
	left: 0;
}
.navigation .nav #sub-menu-last {
	display: none;
	position: absolute;
	width: 100%;
	top: 0;
	left: -100%;
}