* {
	padding: 0;
	margin:0;
}

ul {
	list-style-type: none;
}

.nav > li {
	float: left;
	width: calc(100% / 7)
}

/* .nav > li:not(:last-child) {
	background: url(https://www.galaxycine.vn/website/images/line-menu.png) no-repeat center right;
} */
.nav > li:not(:last-child)> a::after{
	content: "|";
	color: white;
	text-align: right;
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

.nav li a {
	display: block;
	text-align: center;
	text-decoration: none;
	color: white;
	background-color: #333;
	font-size: 90%;
	font-weight: normal;
	padding: 1em 0;
}

.nav li:hover > a {
	color: #f26b38;
	transition: all 0.5s;
}

.nav li:hover > .sub-menu {
    opacity: 1;
}

.nav li:hover > #sub-menu-last {
	display: block;
}

.sub-menu li:hover > a {
	color: #f26b38;
	transition: all 0.5s;
}

.sub-menu ul li:hover > a {
	background-color: #777;
	color: white;
}

.nav li {
	position: relative;
}


.nav .sub-menu {
    opacity: 0;
	position: absolute;
	width: 100%;
	top: 0;
	left: 100%;
}

.nav > li > .sub-menu {
	top: 100%;
	left: 0;
}
.nav #sub-menu-last {
	display: none;
	position: absolute;
	width: 100%;
	top: 0;
	left: -100%;
}